.side-bar-wrapper {
  width: 70px;
	padding-top: 15px;
	height: 100;
  background-color: rgba(0, 102, 255, 0.1);
}

.side-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
	margin-block: 15px;
	width: 100%;
}
